Source: llx-apt
Section: misc
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es> 
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 10)
Homepage: https://github.com/lliurex/llx-apt

Package: llx-apt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apt
Description:  LliureX apt wrapper to manage packages from other releases
 The package provides an apt shell script wrapper to access pre and unstable
 releases without permanent changes in apt configuration files.
